/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/akademija-demo
/puphpet/
Vagrantfile
.gitattributes
.idea/
~*
/web/uploads/
/web/bundles/
/app/config/parameters.yml