<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}OurRead{% endblock %}</title>
        
        {% block stylesheets %}
      		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
					<link rel="stylesheet" href="{{ asset_url }}" />
				{% endstylesheets %}
		{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('a2.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        
        
	{% block javascripts %}
		{% javascripts '@AppBundle/Resources/public/js/*' %}
			<script src="{{ asset_url }}" type="text/javascript" rel="stylesheet"></script>
		{% endjavascripts %}
	{% endblock %}
        
        
    </body>
</html>
