img.fotos{
	width:100px;
	height:150px;
	padding-bottom: 4px;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

      
#brand{
		margin-left: -5px;
		font-size: 20px;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
.caption > h3{

}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

#panele{
    margin-top: 150px;
}

#btn-fb{
    margin-top: 10px;
    margin-left: -15px;
    margin-bottom: 10px;
}

#reg-info{
}

.control-label{
    margin-top: 10px;
}

.knygom{
border: 1px solid #DDD;
border-radius: 4px;
margin-left:18px
}

.row.kn {
  margin-left: -15px;
  margin-right: -15px;
}
img.LBookFoto{
	width:400px;
	height:600px;
}

#test{
	width:260x;
	height:450px;
}

.fa{
    font-size: 20px;


}