img.fotos {
    width: 100px;
    height: 150px;
    padding-bottom: 4px;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.navbar-brand {
    margin-top: -10px;
}

#brand {
    margin-left: -5px;
    font-size: 20px;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.caption > h3 {

}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

.knygom {
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-left: 18px
}

.row.kn {
    margin-left: -15px;
    margin-right: -15px;
}

​
img.LBookFoto {
    width: 400px;
    height: 600px;
}

#panele {
    margin-top: 150px;
}

#test {
    width: 260x;
    height: 450px;

}
