img.fotos {
    width: 100px;
    height: 150px;
    padding-bottom: 4px;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}


#brand {
    margin-left: -5px;
    font-size: 20px;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.caption > h3 {

}

.knygom {
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-left: 18px
}

.row.kn {
    margin-left: -15px;
    margin-right: -15px;
}

​
img.LBookFoto {
    width: 400px;
    height: 600px;
}

#panele {
    margin-top: 150px;
}

#test{
	width:260px;
	height:450px;
}
#add-book-cover {
    height: 500px;
    left: 700px;
    position: absolute;
    top: 230px;
    width: 336px;
}
.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
label .control-label{
    display:block;
}

.btn--b {
    background-color: snow;
    border: 2px solid #578998;
    color: #126c7b;
}

@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}
@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}