img.fotos {
    width: 122px;
    height: 170px;
    padding-bottom: 4px;
}
.arrow {
    width: 20px;
    height: 20px;

}
.img-modal {
    width: 400px;
    height: 600px;
    padding-bottom: 4px;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}


.brand {
    width: 48px;
    height: 45px;
    margin-left: -5px;
    font-size: 20px;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.caption > h3 {

    margin-top: 4px;
    margin-bottom: 4px;

}

.knygom {
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-left: 18px
}

.row.kn {
    margin-left: -15px;
    margin-right: -15px;
}

​
img.LBookFoto {
    width: 400px;
    height: 600px;
}

#panele {
    margin-top: 150px;
}

#test{
    width:260px;
    height:450px;
}
#add-book-cover {
    height: 500px;
    left: 700px;
    position: absolute;
    top: 230px;
    width: 336px;
}
.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
label{
    display:block;
}

.btn--b {
    background-color: snow;
    border: 2px solid #578998;
    color: #126c7b;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.book-box {
    height: 220px;
    overflow: hidden;
}
@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}
@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}


.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }


/**
 * This file is part of the FOSCommentBundle package.
 *
 * (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.fos_comment_thread_show {
    margin-top: 2em;
    padding: 1em 20px;
    width: 472px;
    background: #f0f0f0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}
.fos_comment_comment_show {
    color: #555;
}
.fos_comment_comment_metas {
    margin: 1.5em 0 0.5em 0;
    padding: 1em 20px;
    background: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_comment_body {
    line-height: 1.5em;
}
.fos_comment_comments .fos_comment_comments {
    margin-left: 2em;
}
.fos_comment_comment_reply {
    text-align: left;

}
.fos_comment_comment_reply.replying {
    text-align: left;
    margin-top: 1em;
    padding: 1em 20px;
    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_comment_reply_show_form {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    border-radius: 5px;
}
.fos_comment_comment_reply.fos_comment_replying button.fos_comment_comment_reply_show_form {
    display: none;

}

.fos_comment_thread_comments {
    margin-bottom: 1.5em;
}
.fos_comment_reply_prototype {
    display: none;
}
.fos_comment_thread_show > form.fos_comment_comment_form {
    margin-bottom: 1em;
}
form.fos_comment_comment_form.processing {
    opacity: 0.5;
}
form.fos_comment_comment_form label.author_name {
    margin-top: 3px;
    float:left;
}
form.fos_comment_comment_form label.author_name input {
    padding: 10px 25px;
}
form.fos_comment_comment_form textarea {
    width: 200%;
    height: 6em;
    padding: 1%;
}
form.fos_comment_comment_form.error textarea {
    border-color: red;
}
.fos_comment_form_errors {
    color: #ff0000;
}
.fos_comment_submit {
    text-align: left;
}
.fos_comment_submit input {
    border-radius: 6px;
    font-size: 10px;
    line-height: 1.33333;
    padding: 10px 16px;
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
a.fos_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}
.fos_comment_comment_voting {
    float: right;
}
.fos_comment_comment_score {
    display: inline-block;
}
.fos_comment_comment_reply_cancel{
    border-radius: 6px;
    font-size: 10px;
    line-height: 1.33333;
    padding: 10px 16px;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.request-row{
    background-color:#d9edf7;
}